<main>
    <img src="/assets/img/burger.png" alt="Eat it" />
    <ul>
        {{#each burgers}}
            <li>
            {{#if this.devoured}}
            {{else}}
            {{this.burger_name}}
            <button data-id = "{{this.id}}">Devour It!</button>
            {{/if}}
            </li>
        {{/each}}
    </ul>
    <div>
        <h3>Burgers Eaten</h3>
            {{#each burgers}}
                {{#if this.devoured}}
                    {{this.burger_name}}
                {{/if}} 
            {{/each}}
    </div>
    <div>
        <form action="/{{this.id}}" method="post">
            <textarea id = "newBurger"></textarea>
            <button type ="submit" id ="submit">Add a new one!</button>
        </form>
    </div>
</main>